.image{
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../assets/admin.avif");
  background-attachment: fixed;
  background-size: 100%100%;
  background-position: center;
}

/* Top div for greeting */
.greeting{
  width: 100%;
  margin-top: 30px;
}
.greeting h1{
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #2aa82a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.greeting h2{
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgb(37, 49, 220);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* addData */
.addData{
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  border-bottom: 2px solid rgb(109, 108, 108);
  padding: 10px 60px;
  font-size: 25px;
  color: rgb(37, 11, 220);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

/* All actions design */
.all-forms{
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.all-forms .each-form form{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 5px;
  margin-bottom: 50px;
}

.all-forms .each-form form div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

.all-forms .each-form form div label{
  width: 200px;
  height: 50px;
  background-color: #007C7C;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  font-family: "Helvetica Neue";
  border-right: 2px solid black;
}

.all-forms .each-form form div input{
  width: 300px;
  height: 50px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
}

.all-forms .each-form form .submit-btn{
  width: 40%;
  margin-left: 60%;
  margin-top: 10px;
  height: 40px;
  background-color: #46ce46;
  box-shadow: 7px 7px 0px 0px #228B22;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.all-forms .each-form form .submit-btn:hover, .all-forms .each-form form .submit-btn:active{
  background-color:  #228B22;
  box-shadow: 5px 5px 0px 0px #46ce46;
}
.newSem{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.newSem button{
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  box-shadow: 5px 5px 0 0 rgb(153, 13, 13);
  transition: 0.5s;
}
.newSem button:hover,.newSem button:active{
  background-color: rgb(153, 13, 13);
  box-shadow: 5px 5px 0 0 red;
}
@media (max-width: 600px) {
  .greeting h1{
    font-size: 30px;
  }
  .greeting h2{
    font-size: 20px;
  }
  .addData{
    padding: 10px 40px;
    font-size: 20px;
  }
  .all-forms{
    margin-top: 10px;
  }
  .all-forms .each-form form{
    width: 280px;
    margin-bottom: 20px;
  }
  
  .all-forms .each-form form div{
    border-radius: 4px;
  }
  .all-forms .each-form form div label{
    width: 90px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    padding: 0 5px;
    border-radius: 2px 0 0 2px;
  }
  
  .all-forms .each-form form div input{
    width: 190px;
    height: 40px;
    padding: 10px 5px;
    font-size: 13px;
    border-radius: 0 2px 2px 0;
  }
  
  .all-forms .each-form form .submit-btn{
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    box-shadow: 4px 4px 0 0 #228B22;
  }
}